.header {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 15em;
	gap: 0.2em;
}

header {
	display: flex;
	justify-content: space-evenly;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #eb958f;
	margin: 0;
	background-color: #164d25;
	height: 6.em;
	padding-top: 0.5em;
	padding-bottom: 0.2em;
	border: 0.3em solid olive;
}

.main_info {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 100%;
	margin: 0 auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #164d25;
}

#logo {
	width: 5em;
	height: 5em;
}

a {
	color: #3b0733;
}

.referenses {
	order: 2;
	background-color: #f7dbc1;
	padding-bottom: 10px;
	padding-left: 5px;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
	position: relative;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #eb958f;
	background-color: #f7dbc1;
	height: 5em;
	padding: 0.2em;
}

footer{
	order: 4;
}

.forma {
	order: 3;
	background-color: #f7dbc1;
	padding-left: 10px;
}

table {
	table-layout: fixed;
	width: 60%;
	margin: 20px auto;
	border: 3px solid #164d25;
	border-collapse: collapse;
	text-align: center;
	font-size: 2vw;
	background-color: #eb958f;
}

th, td {
	border: 3px solid #164d25;
	padding: 5px;
}

th {
	background-color: #6cad4e;
}

tr:nth-child(odd) td {
	background-color: #f7dbc1;
}

tr:nth-child(even) td {
	background-color: burlywood;
}

.table {
	order: 1;
	background-color: #f7dbc1;
	padding-left: 10px;
	padding-bottom: 10px;
}

body{
	text-align: center;
}

body li{
	text-align:initial;
}

@media screen and (min-width: 800px){
	.header {
		flex-direction: row;
		gap: initial;
		height: 8em;
	}

	header {
		flex: 4;
		height: 6em;
		border-right: hidden;
	}
	nav {
		gap: 1em;
		align-items: center;
		flex: 1;
		height: 6em;
		flex-direction: row;
		border: 0.3em solid olive;
		border-left: hidden;
		background-color: #164d25;
		padding-top: 0.5em;
		padding-bottom: 0.2em;
	}

	.main_info {
		width: 960px;

	}

	table{
		font-size: initial;
	}

	nav a {
		color: #eb958f;
	}
}
